<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_FUNCTION (OID INTEGER PRIMARY KEY AUTOINCREMENT, UID TEXT, SID TEXT, FUNCTION_ID TEXT, FUNCTION_NAME TEXT,ORG_ID TEXT,PLUG_IN_UNIT_ID TEXT,PLUG_IN_UNIT_NAME TEXT,MENU_ID TEXT,MENU_NAME TEXT,ICON TEXT,URL TEXT ,LAUNCH_OPTIONS TEXT,ORDER_TAG TEXT, UNIQUE(UID, SID, FUNCTION_ID,ORG_ID,PLUG_IN_UNIT_ID,MENU_ID))</string>
        <string>CREATE TABLE IF NOT EXISTS GX_IOS_PLUG_IN_UNIT (OID INTEGER PRIMARY KEY AUTOINCREMENT, UID TEXT, SID TEXT, ID TEXT,ORG_ID TEXT, NAME TEXT, DOWNLOAD_URL TEXT, VERSION TEXT,FILE_HASH TEXT,IS_DOWNLOADING INT2, UNIQUE(UID, SID, ID,ORG_ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_CONTACT (OID INTEGER PRIMARY KEY AUTOINCREMENT, UID TEXT, SID TEXT, ID TEXT, NAME TEXT,ORG_ID TEXT,ORG_NAME TEXT, DEPARTMENT_NAME TEXT, DEPARTMENT_ID TEXT, MOBILE TEXT, EMAIL TEXT,TYPE INT2, VALID INT2, UNIQUE(UID, SID, ID ,ORG_ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_GROUP (OID INTEGER PRIMARY KEY AUTOINCREMENT,UID TEXT,SID TEXT,ID TEXT,ORG_ID TEXT,TYPE INT2,NAME TEXT,OPEN_TO_JOIN INT2,IS_VALID INT2,GROUP_SIZE INTEGER,CREATE_DATE INTEGER,REMARK TEXT,UNIQUE(UID ,SID ,ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_GROUP_MEMBER (OID INTEGER PRIMARY KEY AUTOINCREMENT ,UID TEXT,SID TEXT,GROUP_ID TEXT,MEMBER_ID TEXT,MEMBER_ORG_ID TEXT,MEMBER_NAME TEXT,ROLE INT2,UNIQUE(UID,SID,GROUP_ID,MEMBER_ID,MEMBER_ORG_ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_RECENT_CHAT (OID INTEGER PRIMARY KEY AUTOINCREMENT ,UID TEXT,SID TEXT ,TYPE_ID TEXT ,SECTION_ID TEXT,CHAT_ID TEXT,PARENT_TYPE TEXT,SUBJECT TEXT,CONTENT TEXT,LAST_TIME INTEGER,HAVE_NEW_MESSAGE INT2,HIDE INT2,UNREAD_MESSAGE_COUNT INTEGER,STATE INTEGER,TOP_RECENT_CHAT INT2,PRIORITY INTEGER,LAST_MESSAGE_ID TEXT,CHAT_COMPONENT_ID TEXT,ORG_ID TEXT ,UNIQUE(UID ,SID ,TYPE_ID,SECTION_ID,CHAT_ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_PROFILE_PHOTO(OID INTEGER PRIMARY KEY AUTOINCREMENT ,UID TEXT,SID TEXT,ID TEXT,THUMB_PATH TEXT,PHOTO_PATH TEXT,STATE INTEGER,UNIQUE(UID ,SID,ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_FRIEND_APPLY(OID INTEGER PRIMARY KEY AUTOINCREMENT ,UID TEXT,SID TEXT,USER_ID TEXT,NAME TEXT,REMARK TEXT,STATE INTEGER,TYPE INTEGER,UNIQUE(UID,SID,USER_ID))</string>
        <string>CREATE TABLE IF NOT EXISTS GX_IOS_GROUP_APPLY(OID INTEGER PRIMARY KEY AUTOINCREMENT ,UID TEXT,SID TEXT,APPLICANT_ID TEXT,GROUP_ID TEXT,APPLICANT_NAME TEXT,GROUP_NAME TEXT,REMARK TEXT,STATE INTEGER,TYPE INTEGER,UNIQUE(UID,SID,APPLICANT_ID,GROUP_ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_HANDLED_NOTIFICATION (OID INTEGER PRIMARY KEY AUTOINCREMENT ,UID TEXT,SID TEXT,ID TEXT,UNIQUE (UID,SID,ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_MESSAGE (OID INTEGER PRIMARY KEY AUTOINCREMENT, UID TEXT, SID TEXT, ID TEXT, OWN_ID TEXT,OWN_CMP_ID TEXT, FROM_ID TEXT, FROM_CMP_ID TEXT, TO_ID TEXT, TO_CMP_ID TEXT, WAY INTEGER, BUSI_TYPE INTEGER, MSG_TEXT TEXT, MSG_TYPE INTEGER,STATE INTEGER, MSG_TIME INTEGER,MESSAGE_ATTR BLOB,MSG_CONTENT BLOB,PACKET_VERSION INTEGER,PROTOCOL_VERSION INTEGER,IS_PLAYED INT2,UPLOAD_STATE INTEGER,DOWNLOAD_STATE INTEGER,UNIQUE(UID, SID, ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_OUT_FT_PROPS (OID INTEGER PRIMARY KEY AUTOINCREMENT, UID TEXT, SID TEXT, FILE_ID TEXT, FILE_NAME TEXT,FILE_SIZE INTEGER, MIME_TYPE TEXT, STATE INTEGER,SENT INTEGER, FILE_PATH TEXT,PACKET_VERSION INTEGER,PROTOCOL_VERSION INTEGER,CONTENT BLOB, UNIQUE(UID, SID, FILE_ID))</string>
		<string>CREATE TABLE IF NOT EXISTS GX_IOS_IN_FT_PROPS (OID INTEGER PRIMARY KEY AUTOINCREMENT, UID TEXT, SID TEXT, SESSION_ID TEXT, DOWNLOAD_FILE_ID TEXT, STATE INTEGER, FILE_SIZE INTEGER, RECEIVED INTEGER, FILE_PATH TEXT, UNIQUE(UID, SID, SESSION_ID))</string>
        <string>CREATE TABLE IF NOT EXISTS GX_IOS_ORGANIZATION (OID INTEGER PRIMARY KEY AUTOINCREMENT, UID TEXT, SID TEXT, ID TEXT, NAME TEXT, INSTANCE TEXT, SHORT_NAME TEXT, UNIQUE(UID, SID, ID))</string>
        <string>CREATE INDEX MSG_INDEX ON GX_IOS_MESSAGE(OWN_ID,OWN_CMP_ID,MSG_TIME)</string>
        <string>CREATE UNIQUE INDEX NOTIFICATION_INDEX ON GX_IOS_HANDLED_NOTIFICATION(ID)</string>
	</array>
</array>
</plist>
